.pregunta1{
    background-color: aqua;
}

.content-div{
    border: 1px solid rgb(15, 2, 2);
}

.pregunta2{
background-color: rgb(150, 150, 219);

}

.pregunta3{
background-color: rgb(180, 151, 147);

}

.pregunta4{
    color: rgb(160, 9, 115);

}

.pregunta5{
background-color: rgb(0, 255, 98);

}

.pregunta6{
   color: rgb(214, 22, 54);

}
